.about {
  padding: 115px 0;
  justify-content: start;
  @include tablet {
    padding: 50px 0;
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 740px;
    height: 100%;
    position: relative;
    @include tablet {
      min-height: 500px;
    }
    @include small-tablet {
      min-height: auto;
    }
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: -130px;
      bottom: 0;
      left: 0;
      background-image: url(../images/about-1.jpg);
      background-size: 50% auto;
      background-position: right;
      background-repeat: no-repeat;
      border-radius: 75px;
      @include tablet {
        background-size: 40% auto;
      }
      @include small-tablet {
        display: none;
      }
    }
    &::before {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(50%, -50%);
      width: 650px;
      height: 650px;
      border: 75px solid rgba($color: $flamenco, $alpha: 0.23);
      border-radius: 50%;
      @include tablet {
        display: none;
      }
    }
  }
  &__info {
    max-width: 485px;
    position: relative;
    z-index: 2;
    @include small-tablet {
      max-width: 100%;
    }
  }
  &__title {
    margin-bottom: 60px;
    @include small-tablet {
      margin-bottom: 20px;
      max-width: 400px;
      margin: 0 auto;
      text-align: center;
    }
  }
  &__desc {
    margin-bottom: 50px;
    @include small-tablet {
      margin-bottom: 20px;
      text-align: center;
    }
  }
  &__btn {
    @include small-tablet {
      display: block;
      margin: 0 auto;
      padding: 15px 20px;
    }
  }
}
