.footer {
  &__top {
    padding: 150px 0 100px;
    display: flex;
    justify-content: space-between;
    @include tablet {
      flex-direction: column;
      align-items: center;
      padding: 100px 0 75px;
    }
  }
  &__info {
    max-width: 290px;
    width: 100%;
    @include tablet {
      margin-bottom: 45px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__logo {
    max-width: 90px;
    @include tablet {
      width: 100%;
    }
  }
  &__logo-wrapper {
    margin-bottom: 45px;
    @include tablet {
      margin-bottom: 10px;
    }
  }
  &__desc {
    margin-bottom: 45px;
    @include tablet {
      margin-bottom: 10px;
      text-align: center;
    }
  }
  &__social {
    display: flex;
    align-items: center;
    &-item {
      display: flex;
      align-items: center;
      &:not(:last-child) {
        margin-right: 25px;
      }
    }
    &-link {
      display: block;
      position: relative;
      width: 26px;
      height: 26px;
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        transition: all 0.2s ease-in-out;
      }
      @include desktop {
        &:hover {
          &::after {
            transform: translate(-50%, -80%);
          }
        }
      }
      &--facebook {
        &::after {
          width: 13px;
          height: 22px;
          background-image: url(../images/sprite.svg#facebook);
        }
      }
      &--twitter {
        &::after {
          width: 27px;
          height: 27px;
          background-image: url(../images/sprite.svg#twitter);
        }
      }
      &--linkedin {
        &::after {
          width: 21px;
          height: 20px;
          background-image: url(../images/sprite.svg#linkedin);
        }
      }
      &--youtube {
        &::after {
          width: 21px;
          height: 14px;
          background-image: url(../images/sprite.svg#youtube);
        }
      }
    }
  }
  &__list {
    max-width: 730px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    @include small-tablet {
      flex-direction: column;
      align-items: center;
    }
  }
}

.footer-menu {
  max-width: 200px;
  @include tablet {
    text-align: center;
  }
  @include small-tablet {
    margin: 0 30px;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  &__title {
    margin-bottom: 45px;
    @include tablet {
      margin-bottom: 20px;
    }
  }
  &__item {
    margin-bottom: 27px;
  }
  &__link {
    color: rgba($color: $pickled, $alpha: 0.8);
    transition: all 0.1s ease-in-out;
    @include desktop {
      &:hover {
        color: $flamenco;
      }
    }
    @include tablet {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.copyright {
  padding: 35px;
  border-top: 1px solid $silver;
  text-align: center;
}
