@import '../vars';
@import '../mixins/adaptive';

.header {
  padding: 20px 0;
  position: absolute;
  width: 100%;
  z-index: 2;
  @include mobile {
    padding: 10px 0;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo-wrapper {
    display: flex;
    align-items: center;
  }
  &__logo {
    max-width: 95px;
    width: 100%;
    @include mobile {
      max-width: 60px;
    }
  }
  &__navigation {
    display: flex;
    align-items: center;
    position: relative;
  }
  &__btns {
    display: flex;
    align-items: center;

    &-item {
      &:not(:last-child) {
        margin-right: 15px;
      }
      @include small-mobile {
        &:not(:last-child) {
          margin-right: 10px;
        }
      }
    }
  }
}

.nav {
  margin-right: 165px;
  @include tablet {
    position: absolute;
    top: 80px;
    right: 0;
    left: 0;
    margin-right: 0;
  }
  &__list {
    display: flex;
    align-items: center;
    transition: all 0.2s ease-in-out;
    @include tablet {
      flex-direction: column;
      background-color: $white;
      border-radius: 22px;
      padding: 0;
      width: 100%;
      color: $flamenco;
      z-index: 5;
      position: relative;
      max-height: 0;
      overflow: hidden;
      opacity: 0;
      transition: max-height 0.2s ease-in-out, opacity 0.4s ease-in-out,
        padding 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
      &--open {
        max-height: 1000px;
        transition: all 0.2s ease-in-out;
        opacity: 1;
        padding: 25px;
        box-shadow: 4px 0px 10px $shuttle;
      }
    }
  }
  &__item {
    &:not(:last-child) {
      margin-right: 45px;
    }
    @include tablet {
      &:not(:last-child) {
        margin-right: 0;
      }
      margin-bottom: 15px;
    }
  }
  &__link {
    font: $fs-menu;
    color: $pine;
    transition: color 0.1s ease-in-out;
    @include desktop {
      &:hover {
        color: $flamenco;
      }
    }
    @include tablet {
      color: $flamenco;
    }
  }
}
.cart-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.1s ease-in-out;
  &--visible {
    opacity: 1;
    visibility: visible;
  }
}

.cart {
  max-width: 800px;
  width: 95%;
  min-height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: $white;
  padding: 30px 30px 50px;
  border-radius: 20px;
  opacity: 0;
  transform: translate(-1000%, -50%);
  visibility: hidden;
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10000;
  @include small-tablet {
    padding: 15px 15px 25px;
  }
  &--visible {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%);
  }
  &__status {
    text-align: center;
  }
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    @include mobile {
      flex-direction: column;
      align-items: flex-start;
    }

    &:not(:last-child) {
      border-bottom: 2px solid $shuttle;
      @include mobile {
        border-bottom: 1px solid $shuttle;
      }
    }
    &-left {
      display: flex;
      align-items: center;
      @include small-tablet {
        margin-right: 15px;
        max-width: 300px;
        width: 100%;
      }
      @include mobile {
        margin-bottom: 15px;
        max-width: 100%;
      }
    }
    &-title {
      max-width: 275px;
      width: auto;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      @include small-tablet {
        max-width: 160px;
      }
      @include mobile {
        max-width: 100%;
      }
    }
    &-right {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 220px;
      @include mobile {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
      }
    }
    &-price-wrapper {
      text-align: end;
      font: $fs-price;
      color: $daintree;
      max-width: 100px;
      width: 100%;
    }
  }
  &__del {
    margin-right: 15px;
  }
  &__img-wrapper {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    @include small-tablet {
      min-width: 50px;
      width: 50px;
      height: 50px;
    }
  }
  &__weight {
    display: flex;
    align-items: center;
    &-value {
      max-width: 80px;
      font: $fs-weight;
      min-width: 60px;
      border: 2px solid $daintree;
      border-radius: 5px;
      color: $daintree;
      text-align: center;
      @include small-tablet {
        max-width: 60px;
      }
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      &::placeholder {
        color: $pickled;
      }
    }
  }
}

.total {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  &__price-wrapper {
    font: $fs-main-subtitle;
    color: $daintree;
    display: flex;
  }
  &__line {
    display: block;
    width: 100%;
    margin: 0 10px;
    border-bottom: 1px dashed $shuttle;
  }
}
