.questions {
  background-color: $bridal;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 650px;
    height: 650px;
    border: 75px solid rgba($color: $flamenco, $alpha: 0.23);
    border-radius: 50%;
    @include tablet {
      display: none;
    }
  }

  &__wrapper {
    position: relative;
    padding: 55px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include small-tablet {
      flex-direction: column-reverse;
    }
  }
  &__gallery {
    max-width: 540px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-right: 50px;
    @include tablet {
      margin-right: 30px;
    }
    @include small-tablet {
      margin: 0 auto;
    }

    &-item {
      width: auto;
      &:not(:last-child) {
        margin-right: 30px;
        @include tablet {
          margin-right: 15px;
        }
      }
    }
  }
  &__img {
    border-radius: 34px;
    overflow: hidden;
    margin-bottom: 30px;
    @include tablet {
      margin-bottom: 15px;
    }
  }
  &__info {
    max-width: 500px;
    @include small-tablet {
    }
  }
  &__title {
    margin-bottom: 60px;
    @include tablet {
      margin-bottom: 30px;
    }
  }
  &__desc {
    margin-bottom: 60px;
    @include tablet {
      margin-bottom: 30px;
    }
  }
  &__item {
    padding-left: 95px;
    margin-bottom: 40px;
    position: relative;
    @include small-tablet {
      padding-left: 50px;
    }
    @include tablet {
      margin-bottom: 20px;
    }
    &:nth-child(1) {
      &::before {
        background-color: #7e4ff2;
      }
    }
    &:nth-child(2) {
      &::before {
        background-color: #7bbb66;
      }
    }
    &:nth-child(3) {
      &::before {
        background-color: #ff800b;
      }
    }
    &:nth-child(4) {
      &::before {
        background-color: #ffd400;
      }
    }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 62px;
      height: 62px;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 35px;
      @include small-tablet {
        width: 42px;
        height: 42px;
        background-size: 25px;
      }
    }

    &:nth-child(1) {
      &::before {
        background-image: url(../images/sprite.svg#cart);
      }
    }
    &:nth-child(2) {
      &::before {
        background-image: url(../images/sprite.svg#pay);
      }
    }
    &:nth-child(3) {
      &::before {
        background-image: url(../images/sprite.svg#smartphone);
      }
    }
    &:nth-child(4) {
      &::before {
        background-image: url(../images/sprite.svg#ship);
      }
    }

    &__title {
      font: $fs-main-subtitle;
      margin-bottom: 20px;
    }
  }
}
