//COLORS
$transparent: transparent;
$white: #fff;
$black: #000;
$shuttle: #5f6672;
$bridal: #fff9f2;
$pine: #233506;
$flamenco: #ff800b;
$sin: #fdb827;
$daintree: #02283f;
$pickled: #375465;
$cloud: #243165;
$silver: #c4c4c4;

//FONTS
$f-gilroy: 'Gilroy', sans-serif;
$f-sofia: 'SofiaPro', sans-serif;

//FONTS-STYLES
$fs-main: 400 18px / 30px $f-sofia;
$fs-main-btn: 500 18px / 18px $f-sofia;

$fs-title-hero: 800 84px / 100px $f-gilroy;
$fs-title-hero-ad: 800 60px / 70px $f-gilroy;
$fs-buy: 400 18px / 21px $f-gilroy;
$fs-main-title: 700 70px / 82px $f-gilroy;
$fs-main-title-ad: 700 50px / 62px $f-gilroy;
$fs-footer-title: 700 18px / 21px $f-gilroy;
$fs-main-subtitle: 600 20px / 23px $f-gilroy;
$fs-price: 600 18px / 21px $f-gilroy;
$fs-price-ad: 600 16px / 21px $f-gilroy;
$fs-weight: 600 12px / 14px $f-gilroy;
$fs-menu: 500 18px / 20px $f-gilroy;

//SIZES
$section: 30px;
